

body{

    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: metropolis;
}

a{
    text-decoration: none;

}

ul{
    list-style: none;

}

/* Note that all the above codes will be affected thorughout the entire page */

/*               Navigation Bar            */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
}

nav ul{
    display: flex;

}

nav ul li a{
    height: 40px;
    margin: 5px;
    padding: 0px 10px;
    line-height: 40px;
    display: flex;
    font-size: 1.1 rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    color: white;
}

nav ul li a:hover{
    background-color: white;
    color: rgb(197, 105, 0);
    box-shadow: 5px 5px 5px rgb(238, 255, 4);
}

.active {
    color: yellow;
}

.main{
    width: 100%;
    height: 980px;
    position: relative;
    background-image: url("/images/computer2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    

}

.main-part {
    width: 500px;
    position: absolute;
    left: 15%;
    top: 35%;
    font-family: Futura Book;
    transform: translate(-15%, -47%);

}

.main-part h1{
    font-size: 50px;
    color: white;
}

.main-part p{
    color: antiquewhite;
    width: 400px;
}

.main-part a{
    background-color: yellow;
    box-sizing: border-box;
    color: black;
    font-family: Elephant;
    padding: 10px 20px;
    margin: 20px 10px ;
    font-weight: bold; 
    transition: 0.4s ease-in-out;
}

.main-part a:hover{
    background-color: rgb(255, 253, 252);
    color: rgb(0, 0, 0);
}

.features{
    background-color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-box{
    background: transparent;
    width: 300px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: yellow;
}

.f-text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: arial unicode ms;
}


.f-text h4{
    margin-top: 65px;
}

.f-text a{
    color: white;
    background-color: blue;
    box-sizing: border-box;
    padding: 10px 5px;
    margin: 10px 5px;
    font-weight: bold;
}

.f-text a:hover{
    color: black;
    background-color: yellow;

}

.contact{
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.contact-heading{
    color: white;
    text-align: center;
    margin: 40px opx;
    margin-bottom: 88px;
}

.contact-heading h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;

}

.contact form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact form input, .contact form textarea{
    width: 100%;
    height: 35px;
    margin: 5px 0px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(59, 59, 59);
    color: #eeff00;
    font-weight: bold;
    font-family: metropolis;
    font-size: 1.2rem;
    

}


/* Styling the place holders of the form */
.contact form input[type="text"]::placeholder, .contact form input[type="email"]::placeholder, .contact form textarea::placeholder {
    
    color: #ffffff;
    font-family: Gill sans mt;

}

/* Styling once you have clicked in the textfield */
.contact form input[type="text"]:focus, .contact form input[type="email"]:focus, .contact form textarea:focus{
    color: #eeff00;
    font-weight: bold;
    font-family: metropolis;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0);
    /* change to the desired color */
}

.contact form textarea{
    height: 130px;
}



.contact-btn{
    background-color: yellow;
    color: black;
    margin: 20px 0px;
    height: 35px;
    width: 80px;
    font-weight: bold;
    font-family: metropolis;
    transition: 0.4s ease-in-out;
}

.contact-btn:hover{
    color: white;
    background-color: blue;
}

.about{
    height: 110vh;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}


.about-text{
    width: 45%;
    text-align: right;
}

.about-text h2{
    font-size: 2.2rem;
    font-weight: bold;
}

.main-btn{
    color: black;
    background-color: yellow;
    padding: 10px;
    margin: 0 15px 0 0;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

.main-btn:hover{
    color: white;
     background-color: blue;
}

.ending{
    width: 100%;
    text-align: center;
    align-items: center;
    color: white;

}

.ending div{
    background-color: rgb(49, 49, 49);
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;

}

.a{
    width: 200px;
    align-items: center;
    justify-content: center;
}

.ending div div{
    align-items: center;
    width: 250px;


}

.ending img{
    width: 120px;
    align-items: center;
}

.ending p{

    margin-top: 50px;
    font-family: Dubai;
    font-size: 1.2rem;


}